/* Upcoming Carousel Component Styling*/
.Carousel-container {
    text-align: center;
    background-color: blue;
}

.UpCarousel   {
    margin-top: 10px;
    height: 300px;
    width: 80%;
    display: inline-block;
}

.Upmovies {
    background-color: yellow;
    height: 95%;
    width: 20%;
    margin: 0px 0px 10px 10px;
    display: inline-block;
}

/* Playing Carousel Component Styling*/
.Playing-container   {
    text-align: center;
    background-color: purple;
}

.PlayingCarousel   {
    margin-top: 10px;
    height: 300px;
    width: 80%;
    display: inline-block;
}

.Playmovies {
    background-color: pink;
    height: 95%;
    width: 20%;
    margin: 0px 0px 10px 10px;
    display: inline-block;
}
